<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Nomes</title>
</head>
<body>
    <h1>Lista de Nomes</h1>
    <ul>
        {% for nome in nomes %}
            <li>{{ nome }}</li>
        {% endfor %}
    </ul>
</body>
</html>
from jinja2 import Environment, PackageLoader, select_autoescape
env = Environmentdsds<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Nomes</title>
</head>
<body>
    <h1>Lista de Nomes</h1>
    <ul>
        {% for nome in nomes %}
            <li>{{ nome }}</li>
        {% endfor %}
    </ul>
</body>
</html>
