.nav-folder-children {
    margin-left: 1px !important;
    padding-left: 1px !important;
}

.nav-folder {
    margin-left: 1px !important;
    padding-left: 1px !important;
}

.nav-file {
    margin-left: 1px !important;
    padding-left: 1px !important;
}
