.nav-folder-children {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.nav-folder {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.nav-file {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
